<!--Bismillahi Rahmani Raheem-->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	
<head>
	<title>All Brands</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>


  
<div class="container-fluid text-center">  
	<h1>List of All Brands</h1>
  
  <table class="table table-stripe table-bordered">
	  <thead class="thead-dark">
		  <tr>
			  <th>Id</th>
			  <th>Name</th>
			  <th>Category</th>
			  
		  </tr>
	  </thead>
	  <tbody>
		  <tr th:each="brand:${listBrands}">
			  <td th:text="${brand.id}"></td>
			  <td th:text="${brand.name}"></td>
			  <td th:text="${brand.categories}"></td>
			  
				  <td><a th:href="@{'/brand/edit/' + ${brand.id}}" style="text-decoration: none;">Edit</a></td>
				  <td><a th:href="@{'/brand/delete/' + ${brand.id}}" style="text-decoration: none;">Delete</a></td>
			  
		  </tr>
	  </tbody>
  </table>
  
</body>
</html>
