<!--Bismillahi Rahmani Raheem-->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	
<head>
	<title>Create New Product</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<div class="p2 ">
	  <a class="h2" th:href="@{/categories}">List Categories</a>
	  <a class="h2" th:href="@{/allProducts}">List Products</a>
  </div>
  
<div class="container-fluid text-center">  
	<h1 th:if="${product.id == null}">Create New Product</h1>
	<h1 th:unless="${product.id == null}">Edit Product</h1>
    <span th:text="${message}"></span>
  <div>
	  <form th:action="@{/product/save}" th:object="${product}" th:method="post" required style="max-width: 600px; margin: o auto;">
		  <input type="hidden" th:field="*{id}" th:value="${product.id}"/>
		  <div class="m-3">
		  <div class="form-group row" p-1>
			  <label for="name" class="col-form-label col-sm-4">Name:</label>
			  <div class="col-sm-8">
			  <input type="text" th:field="*{name}" name="name" class="form-control" required/>
			  </div>
		  </div>
		  <div class="form-group row p-1">
			  <label for="name" class="col-form-label col-sm-4">Price:</label>
			   <div class="col-sm-8">
			  <input type="number" step="0.1" th:field="*{price}" name="price" class="form-control" required/>
			  </div>
		  </div>
		  
		  <div class="form-group row p-1">
			  <label for="name" class="col-form-label col-sm-4">Category:</label>
			   <div class="col-sm-8">
			  <select th:field="*{category}"  name="category" class="form-control" required>
				   <option text=" " value=" ">Select Category</option>
				  <th:block th:each="cat:${categoryList}">
					 <option th:text="${cat.name}" th:value="${cat.id}"/>
				  </th:block>
			  </select>
			  </div>
		  </div>
		  <th:block th:unless="${product.id == null}" th:each="detail, status : ${product.details}">
			  <input type="hidden" name="detailID" th:value="${detail.id}" />
			  <div class="form-group row" p-1>
			  <label for="detailName" class="col-form-label col-sm-4">Detail #[[${status.count}]]:</label>
			  <div class="col-sm-4">
			  <input type="text" name="detailName" class="form-control" th:value="${detail.name}" required/>
			  </div>
			  <div class="col-sm-4">
			  <input type="text" name="detailValue" class="form-control" th:value="${detail.value}" required/>
			  </div>
		  </div>
		  </th:block>
		  
		  <th:block th:if="${product.id == null}">
		  <div class="form-group row" p-1>
			  <label for="detailName" class="col-form-label col-sm-4">Detail #1:</label>
			  <div class="col-sm-4">
			  <input type="text" name="detailName" class="form-control" placeholder="Name" required/>
			  </div>
			  <div class="col-sm-4">
			  <input type="text" name="detailValue" class="form-control" placeholder="Value" required/>
			  </div>
		  </div>
		  <div class="form-group row" p-1>
			  <label for="detailName" class="col-form-label col-sm-4">Detail #2:</label>
			  <div class="col-sm-4">
			  <input type="text" name="detailName" class="form-control" placeholder="Name" required/>
			  </div>
			  <div class="col-sm-4">
			  <input type="text" name="detailValue" class="form-control" placeholder="Value" required/>
			  </div>
		  </div>
		  <div class="form-group row" p-1>
			  <label for="detailName" class="col-form-label col-sm-4">Detail #3:</label>
			  <div class="col-sm-4">
			  <input type="text" name="detailName" class="form-control" placeholder="Name" required/>
			  </div>
			  <div class="col-sm-4">
			  <input type="text" name="detailValue" class="form-control" placeholder="Value" required/>
			  </div>
		  </div>
		  </th:block>
		  <div class="text-center p-3">
		  <button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		  </div>
	  </form>
	 
  </div>
  
</body>
</html>
